{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Import Requirements -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          crossorigin="anonymous">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
            crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
            crossorigin="anonymous"></script>

    <!-- Custom CSS -->
    <link rel="stylesheet" href="{% static 'style8.css' %}" />

    <title>Story 8</title>
</head>

<body>
    <div class="container">
	    <div class="d-flex justify-content-center">
	    	<h1> Find the Book </h1> 
	    </div>

	    <div class="d-flex justify-content-center">
			<div class="row justify-content-md-center">
				<input type="text" id="search" class="form-control" 
					   placeholder="Type the title of a books here..."> 
			</div>
	    </div>
	</div>


	<div class="row justify-content-md-center" id="books">

	</div>


</body>
<script src="{% static 'story8.js' %}"></script>
</html>