body {
	background-color:  rgb(249, 245, 243);
	overflow-x: scroll;
	font-family: 'Reem Kufi', sans-serif;
	width: 100%;
}

#accordion > div{
	border-style: solid;
	margin-bottom: 10px;
	padding: 10px;
}

#accordion > h3{
	border-style: solid;
}

#status-section .stat{
	border-style: solid;
}
