<!DOCTYPE html>
<html lang="en">

<head>
    <title>Karin's Profile</title>

    <!-- Latest compiled and minified CSS -->
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>

    <!-- Custom Fonts -->
    <link rel="stylesheet"
    href="https://fonts.googleapis.com/css?family=Reem+Kufi">
    <link rel="stylesheet"
    href="https://fonts.googleapis.com/css?family=Abhaya+Libre">

</head>

<body style="background-color: #303030">
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo01" aria-controls="navbarTogglerDemo01" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarTogglerDemo01">
            <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
                <li class="nav-item active">
                    <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
                </li>
            </ul>
        </div>
    </nav>

    <div class="container-fluid" style="background-color: white; padding: 20px; max-width: 500px">
        <div class="row justify-content-md-center">
            <div class="col-md-auto">
                <h1>Hello!</h1>
                <h4>How are you, today?</h4>
                
                <form method="POST" class="form">
                    {% csrf_token %}
                    {{ form.status }}
                    <input type="submit" name="Post">
                </form>
            </div>
        </div>
    </div>

    <div class="container-fluid" style="background-color: white; margin-top: 30px; max-width: 500px">
        <div class="row justify-content-md-center">
            <div class="col-md-auto">
            {% for stat in status %}
            <div style="margin: 10px">
                <h4>{{ stat.status }}</h4>
                <p>{{ stat.tanggal }}</p>
                <p>-----------------------------</p>
            </div>
            {% endfor %}
            </div>
        </div>
    </div>
    
</body>
</html>