{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <title>Story 7</title>

    <!-- Latest compiled and minified CSS -->
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
    <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>

    <!-- Custom Fonts -->
    <link rel="stylesheet"
    href="https://fonts.googleapis.com/css?family=Reem+Kufi">
    <link rel="stylesheet"
    href="https://fonts.googleapis.com/css?family=Abhaya+Libre">

    <!-- Custom Files -->
    <link rel="stylesheet" type="text/css" href="{% static '/style7.css' %}">
    <script src="{% static '/story7.js' %}"></script>

</head>

<body>
    <nav class="navbar navbar-expand-lg navbar-dark">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo01" aria-controls="navbarTogglerDemo01" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarTogglerDemo01">
            <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
                <li class="nav-item active">
                    <a class="nav-link" href="#"><span class="sr-only">(current)</span></a>
                </li>
            </ul>
        </div>
    </nav>

    <div class="container-fluid">
        <div class="row justify-content-end">
            <div class="col-4" id="form-section">
                <h1>Hello!</h1>
                <h4>How are you, today?</h4>
                
                <form method="POST" class="form">
                    {% csrf_token %}
                    {{ form.status }}
                    <input type="submit" name="Post">
                </form>
            </div>

            <div class="col-4">
                <div class="custom-control custom-switch" id="change">
                    <input type="checkbox" class="custom-control-input" id="customSwitch1" onchange="change()">
                    <label class="custom-control-label" for="customSwitch1" id="toggle">Change Theme</label>
                </div>  
                <div id="accordion">
                    <h3> Activity </h3>
                    <div>
                        <p> - College </p>
                        <p> - College </p>
                        <p> - College </p>
                    </div>
                    <h3> Experience </h3>
                    <div>
                        <p>[2017]  MPK SMAN 1 Jakarta</p>
                        <p>[2017]  SRKP SMAN 1 Jakarta</p>
                        <p>[2019]  Wisuda Genap Fasilkom UI</p>
                    </div>
                    <h3> Achievement </h3>
                    <div>
                        <p> c o m i n g  s o o n</p>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="container-fluid">
        <div class="row justify-content-center" id="status-section">
            <div class="col-4 stat">
            {% for stat in status %}
            <div style="margin: 10px">
                <h4>{{ stat.status }}</h4>
                <p>{{ stat.tanggal }}</p>
                <p>-----------------------------</p>
            </div>
            {% endfor %}  
            </div>   
    </div>
</body>
</html>