body{
    padding:20px;
    background-color: #6c8685; 
}

img{
    max-width:100px;
    max-height:240px;
    margin-left: 85px;
    margin-top: 10px;
}

h1{
	background-color: #c1cbc4;
	padding: 10px;
	border-radius: 25px;
	color: #382a1f;
	margin-bottom: 20px;
}

h5{
	color: #382a1f;
}

h6{
	color: #204f50;
}

#search{
	width: 500px;
	text-align: center;
	border:2px #f9f5f3;
}


#books{
    padding:20px;
    margin-top:20px;
}

#item{
    max-width:350px;
	font-style: #f9f5f3;
}

.card{
	background-color: #c2ccc5;
}