<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Login</title>
</head>
<body>
        <div class='BlockContent test'>
                <div class="form">
                    <center><h2>LOGIN</h2></center>
                    <form action="{% url 'story9:login' %}" method="POST">
                        {% csrf_token %}
                        <div class="unknown"><p>Username</p>{{ form.username }}</div>
                        <div class="unknown"><p>Password</p>{{ form.password }}</div>
                        <div class="unknown test">
                            <button type="submit" class="formbutton">Login</button>
                        </div>
                    </form>
                </div>
            </div>
        
</body>
</html>
