<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title> Story 9 </title>
</head>
<body>
    hello {{ user.username }}
    <form action="{% url 'story9:logout' %}" method="POST">
            {% csrf_token %}
            <div>
                <button type="submit" class="formbutton">Logout</button>
            </div>
    </form>
</body>
</html>
